* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', helvetica, sans-serif;
}

/* utility classes */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

/* list && links */
.nav__list,
.side-menu__list {
  list-style: none;
}

.nav__link,
.side-menu__link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

/* Header & Nav */
.header {
  padding: 1rem 0.5rem;
  border-bottom: 2px solid #e9ecee;
}

.nav-left,
.nav-right {
  gap: 1rem;
}

.nav-left {
  margin-right: auto;
}

/* Main */

.main {
  padding: 1rem 0.5rem;
}

.side-menu {
  gap: 1rem;
}
